<footer>
  <div class="row footer">
    <div class="col-md-12 col-lg-4 d-flex justify-content-around align-items-center">
      <a [routerLink]="['/home']"><img src="https://ecofin-assets.s3.amazonaws.com/icono-footer.png" width="100px" alt=""></a>
    </div>
    <div class="col-md-12 col-lg-4 d-flex justify-content-around align-items-center py-5">
      <a href="#" class="FAQ">FAQ</a>
      <a href="#" class="Contacto">Contacto</a>
      <a href="#" class="Privacidad">Políticas de Privacidad</a>
    </div>
    <div class="col-md-12 col-lg-4 d-flex justify-content-around align-items-center py-5">
      <a class="twitter" href="#"><i class="fab fa-twitter fa-2x"></i></a>
      <a class="facebook" href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
      <a class="instagram" href="#"><i class="fab fa-instagram fa-2x"></i></a>
    </div>
  </div>
  <div class="row copyright">
    <div class="col-12">
      &copy; Copyright EcoFin Crowdfunding
    </div>
  </div>
</footer>
