<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
      <a href="#" class="navbar-brand d-block d-md-none"> <img src="https://ecofin-assets.s3.amazonaws.com/icono-header.png" width="60px" alt="EcoFin-F"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#eco-nav" aria-controls="eco-nav" aria-expanded="false" aria-label="Menu de Navegacion">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-md-none" id="eco-nav">
      <ul class="navbar-nav mr-auto d-md-none">
        <li class="nav-item">
          <a href="#" class="nav-link">Proyectos</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="menu-categorias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> MXN </a>
          <div class="dropdown-menu" aria-labelledby="menu-categorias">
            <a href="#" class="dropdown-item">MXN</a>
            <a href="#" class="dropdown-item">USD</a>
          </div>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/login']" class="nav-link item">Sing in</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="menu d-none d-md-block fixed-top">
    <div class="row">
      <div class="col-4 py-4 d-flex justify-content-around">
        <a href="#">Proyectos</a>
        <a href="#"> Nosotros </a>
      </div>
      <div class="col-4 my-0 py-1">
        <a href="#" class="p-0 m-0"> <img src="https://ecofin-assets.s3.amazonaws.com/icono-header.png" width="60px" alt="EcoFin-F"> </a>
      </div>
      <div class="col-4  d-flex justify-content-around">
        <div class="dropdown py-4">
          <a href="#" class="dropdown-toggle" id="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> MXN </a>
          <div class="dropdown-menu" aria-labelledby="menu">
            <a href="#" class="dropdown-item">MXN</a>
            <a href="#" class="dropdown-item">USD</a>
          </div>
        </div>
        <a [routerLink]="['/login']" class=" py-3"><img src="https://ecofin-assets.s3.amazonaws.com/%C3%ADcono-Log-in.png" width="170px" alt=""></a>
      </div>
    </div>
  </div>
</header>
