@import "../../../styles";

body{
  padding-top: 71px;
}

header{
  font-family: "Glober-Regular";
  font-size: $tamañoTitulosPequeños;
  color: $colorTextoGris;
  background: white;
}

.navbar-brand{
  font-family: "Glober-Regular";
  font-size: $tamañoTitulosPequeños;
  color: $colorTextoGris;
}

.menu{
  text-align: center;
  border-bottom: .5px solid $colorTextoGris;
  background: white;
  a{
    color: $colorTextoGris;
    border-bottom: 2px solid transparent;
  }

  .dropdown-menu{
   min-width: auto;
  }
}

.nombre{
  color: $colorBotonVerde !important;
}

