@import "../../../styles";

.tabla-proyect{
  margin-top: 100px;
  padding-top: 100px;

  a{
    cursor: pointer;
  }

  .btn-table{
    font-family: "Glober-Heavy";
    font-size: $tamañoTexto;
    color: white;
  }

  .btn-table:hover{
    color: rgba(255, 255, 255, 0.5);
  }

  .btn-primary{
    background: #0133FD;
    border: none;
  }

  .btn-success{
    background: $colorBotonVerde;
    border: none;
  }

  .btn-danger{
    background: #E61F0B;
    border: none;
  }


}
