<app-navbar></app-navbar>


<div class="row">
  <div class="col-12 eco-img d-flex flex-column justify-content-center align-items-end">
    <div class="head">
      <h2>Iniciativas</h2>
      <h4>que se vuelven</h4>
      <h3>realidad.</h3>
      <button> Ver más </button>
    </div>
  </div>
</div>
<div class="row proyects">
  <div class="col-12 col-md-6 col-lg-4 mt-5 mb-5 d-flex justify-content-around">
    <div class="card">
      <img src="https://ecofin-assets.s3.amazonaws.com/login.jpg" class="card-img-top" alt="img top card" >
      <div class="card-body">
        <h5 class="card-title text-center">Nombre del proyecto</h5>
        <div class="card-text">
          <p>
            Aquí va un pequeña descripción
            sobre el proyecto
          </p>
          <div class="text-center porcentaje">
            60%
          </div>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar" style="width: 60%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="py-3 d-flex justify-content-around align-content-center">
            <div class="text-center">
              <h6 class="valor-conseguido"> $30,000</h6>
              <p class="texto-conseguido">Conseguido</p>
            </div>
            <div class="text-center">
              <h6 class="valor-meta">$140,000</h6>
              <p class="texto-meta">Meta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 mt-5 mb-5 d-flex justify-content-around">
    <div class="card">
      <img src="https://ecofin-assets.s3.amazonaws.com/login.jpg" class="card-img-top" alt="img top card" >
      <div class="card-body">
        <h5 class="card-title text-center">Nombre del proyecto</h5>
        <div class="card-text">
          <p>
            Aquí va un pequeña descripción
            sobre el proyecto
          </p>
          <div class="text-center porcentaje">
            60%
          </div>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar" style="width: 60%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="py-3 d-flex justify-content-around align-content-center">
            <div class="text-center">
              <h6 class="valor-conseguido"> $30,000</h6>
              <p class="texto-conseguido">Conseguido</p>
            </div>
            <div class="text-center">
              <h6 class="valor-meta">$140,000</h6>
              <p class="texto-meta">Meta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 mt-5 mb-5 d-flex justify-content-around">
    <div class="card">
      <img src="https://ecofin-assets.s3.amazonaws.com/login.jpg" class="card-img-top" alt="img top card" >
      <div class="card-body">
        <h5 class="card-title text-center">Nombre del proyecto</h5>
        <div class="card-text">
          <p>
            Aquí va un pequeña descripción
            sobre el proyecto
          </p>
          <div class="text-center porcentaje">
            60%
          </div>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar" style="width: 60%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="py-3 d-flex justify-content-around align-content-center">
            <div class="text-center">
              <h6 class="valor-conseguido"> $30,000</h6>
              <p class="texto-conseguido">Conseguido</p>
            </div>
            <div class="text-center">
              <h6 class="valor-meta">$140,000</h6>
              <p class="texto-meta">Meta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 mt-5 mb-5 d-flex justify-content-around">
    <div class="card">
      <img src="https://ecofin-assets.s3.amazonaws.com/login.jpg" class="card-img-top" alt="img top card" >
      <div class="card-body">
        <h5 class="card-title text-center">Nombre del proyecto</h5>
        <div class="card-text">
          <p>
            Aquí va un pequeña descripción
            sobre el proyecto
          </p>
          <div class="text-center porcentaje">
            60%
          </div>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar" style="width: 60%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="py-3 d-flex justify-content-around align-content-center">
            <div class="text-center">
              <h6 class="valor-conseguido"> $30,000</h6>
              <p class="texto-conseguido">Conseguido</p>
            </div>
            <div class="text-center">
              <h6 class="valor-meta">$140,000</h6>
              <p class="texto-meta">Meta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 text-center text-md-right  mt-4 mb-4 pr-md-5">
    <button [routerLink]="['/all/proyects']">Ver todos</button>
  </div>

</div>
<div class="row">
  <div class="col-12">
    <h2 class="titulo">Ventajas como inversionista <img src="https://ecofin-assets.s3.amazonaws.com/mano.png" width="25px" alt=""> </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-4 text-center py-3">
    <img src="https://ecofin-assets.s3.amazonaws.com/planta.png" width="100px" alt="">
    <h4>COMPROMISO SOCIAL</h4>
    <p>
      Forma parte de una comunidad
      comprometida con proyectos
      de impacto social.
    </p>
  </div>
  <div class="col-md-12 col-lg-4 text-center py-3">
    <img src="https://ecofin-assets.s3.amazonaws.com/dinero.png" width="100px" alt="">
    <h4>MATCHFUNDING</h4>
    <p>
      Instituciones que multiplican
      la cantidad aportada por tus
      donantes.
    </p>
  </div>
  <div class="col-md-12 col-lg-4 text-center py-3">
    <img src="https://ecofin-assets.s3.amazonaws.com/grafica.png" width="100px" alt="">
    <h4>COMISIÓN JUSTA</h4>
    <p>
      Solo 5% de comisión.
      Una de las más bajas
      del mundo.
    </p>
  </div>
</div>
<div class="row text-center impacto">
  <div class="col-12 py-4">
    <h3 class="py-2">DATOS DE IMPACTO</h3>
    <div class="info d-flex justify-content-around justify-content-center py-2">
      <div class="parte-uno">
        <h5>230,540</h5>
        <p>Proyectos financiados </p>
      </div>
      <div class="parte-tres">
        <h5>87%</h5>
        <p>Proyectos exitosos</p>
      </div>
    </div>

  </div>
</div>
<div class="row py-4 texto-fondo">
  <div class="col-12 col-lg-6 acerca">
    <h3>Acerca de nosotros </h3>
    <p class="text-justify">
      La misión de nuestra fundación se encuentra
      vinculada a principios de transparencia, progreso
      y mejora de la sociedad.
    </p>
    <p class="text-justify">
      Y Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
      exerci tation ullamcorper suscipit lobortis nisl ut
      aliquip ex ea commodo consequat. Duis autem vel.
    </p>
  </div>
  <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
    <button> Colabora </button>
  </div>
</div>
<div class="row colaboradores">
  <div class="col-12 py-3">
  <h3>Colaboradores</h3>
  </div>
</div>
<div class="row colaboradores py-3">
  <div class="col-12 colaboradores-eco">
  </div>
</div>

<app-footer></app-footer>
