@import "../../../styles";

.eco-img{
  background: url("https://ecofin-assets.s3.amazonaws.com/Imagen-Header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  max-height: 500px;
  color: white;

  .head{
    margin-right: 50px;
  }

  h2{
    font-family: "Glober-Heavy";
    font-size: $tamañoTitulosGrandes;
  }



  h4{
    font-family: "Glober-Bold";
    font-size: $tamañoTitulosMedianos;
  }

}

h3{
  font-family: "Glober-Heavy";
  font-size: $tamañoTitulosGrandes;
}

.titulo{
  padding: 20px;
  font-size: $tamañoTitulosMedianos;
  font-family: "Glober-Bold";
}

h4{
  font-family: "Glober-Bold";
  font-size: $tamañoTitulosMedianos;
}

p{
  font-family: "Glober-Regular";
  font-size: $tamañoTexto;
}

.impacto{
  background: $colorFondoVerde;
  color: white;
  font-family: "Glober-Bold";

  h5{
    font-family: "Glober-Bold";
    font-size: $tamañoTitulosMedianos;
  }
  p{
    font-family: "Glober-Semibold";
    font-size: $tamañoTexto;
  }
}
.texto-fondo{
  background: url("https://ecofin-assets.s3.amazonaws.com/ganaderia.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .acerca {
    padding: 0 50px 0 50px;
  }
}

.colaboradores{
  background: $colorFondoGris;
  h3{
    padding: 30px;
  }

  .colaboradores-eco{
    background: url("https://ecofin-assets.s3.amazonaws.com/companies.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 200px;
    max-height: 200px;

  }
}

.proyects{
  background: $colorFondoProyect;
}

.card{
  cursor: pointer;
  border-radius: 30px;
  min-width: 300px;
  max-width: 300px;
  mim-height: 365px;
  max-height: 365px;
  box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.36);
}

.card-img-top{
  border-radius: 30px 30px 0 0;
  min-height: 90px;
  max-height: 90px;
}

.card-title{
  font-family: "Glober-Heavy";
  font-size: $tamañoTitulosPequeños;
}

.card-text{

  p{
    font-family: "Glober-Bold";
    font-size: $tamañoTexto;
    color: #333333;
  }

  .porcentaje{
    font-family: "Glober-Bold";
    color: #B3B3B3;
    font-size: $tamañoTitulosPequeños;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .valor-conseguido{
    font-family: "Glober-Bold";
    font-size: $tamañoTitulosPequeños;
  }

  .texto-conseguido{
    font-family: "Glober-Bold";
    font-size: $tamañoTexto;
  }

  .valor-meta{
    font-family: "Glober-Bold";
    font-size: $tamañoTitulosPequeños;
    color: #4D4D4D;
  }

  .texto-meta{
    font-family: "Glober-Bold";
    font-size: $tamañoTexto;
    color: #4D4D4D;
  }

  .progress-bar{
    background: $colorBotonVerde;
  }
}
