@import "../../../styles";

.proyect {
  margin-top: 75px;
  background: url("https://ecofin-assets.s3.amazonaws.com/new-user.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.file-over{
  border: solid 1px $colorBotonVerde;
}

.card{
  margin: 0 15px 0 15px;
  padding: 10px;
  border-radius: 30px;
}


h2{
  font-family: "Glober-Heavy";
  font-size: $tamañoTitulosGrandes;
  margin-bottom: 30px;
}

input, select{
  padding: 30px 40px;
  margin-bottom: 30px;
  border-radius: 30px;
  border: 0.7px solid $colorTextoGris;
  font-family: "Glober-Book";
  font-size: $tamañoTitulosPequeños;
}

.foto-proyecto{
  padding: 50px 70px;
  text-align: center;
  background: $colorFondoProyect;;
  border: 0.7px solid $colorFondoProyect;;
  border-radius: 30px 30px 0 0;
}

.description{
  padding: 60px 70px;
  border-radius: 50px;
}

input[type="radio"]{
  padding: 20px 40px;
  margin-bottom: 30px;
  border-radius: 30px;
  border: 0.6px solid $colorTextoGris;
  font-family: "Glober-Book";
  font-size: $tamañoTitulosPequeños;
}

input:focus{
  border: 0.7px solid $colorTextoVerde;
  outline: 0;
}
