@import "../../../styles";

.new-user{
  margin-top: 75px;
  background: url("https://ecofin-assets.s3.amazonaws.com/Foto-Registro-user.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;


  .user{
    margin: 20px 20px 0 20px;
  }
}

.card{
  margin: 0 15px 0 15px;
  padding: 10px;
  border-radius: 30px;
}

h2{
  font-family: "Glober-Heavy";
  font-size: $tamañoTitulosGrandes;
  margin-bottom: 30px;
}

label{
  font-family: "Glober-Book";
  font-size: $tamañoTitulosPequeños;
  color: $colorTextoGris;
}

input{
  padding: 30px 40px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: 0.7px solid $colorTextoGris;
  font-family: "Glober-Book";
  font-size: $tamañoTitulosPequeños;
}

select{
  height: 50px;
  border-radius: 30px;
  border: 0.6px solid $colorTextoGris;
  font-family: "Glober-Book";
  font-size: $tamañoTitulosPequeños;
}

input[type="radio"]{
  padding: 20px 40px;
  margin-bottom: 30px;
  border-radius: 30px;
  border: 0.6px solid $colorTextoGris;
  font-family: "Glober-Book";
  font-size: $tamañoTitulosPequeños;
}

input:focus{
  border: 0.7px solid $colorTextoVerde;
  outline: 0;
}



